.container {
    padding: 0 20rem;
    background-color: white;
}
.darkContainer{
  padding: 0 20rem;
  background-color: rgb(35, 35, 35);
  color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: left;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 500;
}

.description{
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 300;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 1rem;
  max-width: 8rem;
  overflow: visible;
  padding: 1.2rem 1.2rem;
  margin: 0;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.darkButton{
  display: inline-block;
  border: none;
  border-radius: 1rem;
  max-width: 8rem;
  overflow: visible;
  padding: 1.2rem 1.2rem;
  margin: 0;
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn:hover,
.btn:focus {
  background: #4b4b4b;
}

.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}

.projects{
  margin-top: 5rem;
}

/* Project 1*/
.project1:hover .imageWrap{
  transform: scale(0.99);
}

.project1:hover .projectName{
  text-decoration: underline;
}

.imageWrap{
  border-radius: 2% 2%;
}

/* Project 2*/
.project2:hover .imageWrap2{
  transform: scale(0.99);
}

.project2:hover .projectName2{
  text-decoration: underline;
}

.imageWrap2{
  border-radius: 2% 2%;
}

.foot{
  padding-bottom: 8rem;
}
.darkFoot{
  padding-bottom: 8rem;
}

.foot p{
  color:#797979;
  font-size: 1.25rem;
}
.darkFoot p{
  color:#aaaaaa;
  font-size: 1.25rem;
}

.foot a{
  color:#000000;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 0.25rem;
}
.darkFoot a{
  color:#ffffff;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 0.25rem;
}

.foot a:hover{
  color:#353535;
}
.darkFoot a:hover{
  color:#bababa;
}

.foot a img{
  height: 2rem;
  margin-right: 1rem;
  -webkit-transition: transform .1s ease-in-out;
  -moz-transition:transform .1s ease-in-out;
  -ms-transition:transform .1s ease-in-out;
}
.darkFoot a img{
  height: 2rem;
  margin-right: 1rem;
  -webkit-transition: transform .1s ease-in-out;
  -moz-transition:transform .1s ease-in-out;
  -ms-transition:transform .1s ease-in-out;
}

.foot a img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: transform .1s ease-in-out;
  -moz-transition:transform .1s ease-in-out;
  -ms-transition:transform .1s ease-in-out;
}
.darkFoot a img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: transform .1s ease-in-out;
  -moz-transition:transform .1s ease-in-out;
  -ms-transition:transform .1s ease-in-out;
}

.foot .copy{
  font-size: 0.8rem;
}

.theme{
  height: 3rem;
  padding: 0.25rem;
  border: 0.1rem solid;
  border-radius: 10%;
  display: flex; 
  justify-content: center;
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
  .darkContainer{
    padding: 0 2rem;
    background-color: rgb(35, 35, 35);
    color: white;
  }
  .theme{
    height: 3rem;
    padding: 0.25rem;
    border: 0.1rem solid;
    border-radius: 10%;
    display: flex; 
    justify-content: center;
    cursor: pointer;
  }
}